<html>
    <head>
        <title>Options Tracer</title>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>
    <body>
        <h1>Options Tracker</h1>
        <form method=POST enctype=multipart/form-data action="{{ url_for('loadsite') }}">
            <input type=file name=csvtype>
            <input type="submit">
        </form>
        {% if params %}
            <form method="POST" action="{{ url_for('test') }}">
                {% for i in range(index) %}
                    <select name="params{{ i }}" id="params{{ i }}">
                        {% for param in params %}
                            <option value="{{ param }}">{{ param }}</option>
                        {% endfor %}
                    </select>
                    <select name="reds{{ i }}" id="reds{{ i }}">
                        {% for symbol in symbols %}
                            <option value="{{ symbol }}">{{ symbol }}</option>
                        {% endfor %}
                    </select>
                    <select name="greens{{ i }}" id="greens{{ i }}">
                        {% for symbol in symbols %}
                            <option value="{{ symbol }}">{{ symbol }}</option>
                        {% endfor %}
                    </select>
                    <select name="blues{{ i }}" id="blues{{ i }}">
                        {% for symbol in symbols %}
                            <option value="{{ symbol }}">{{ symbol }}</option>
                        {% endfor %}
                    </select>
                    <br/>
                {% endfor %}
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        {% endif %}
        {% if plot1 %}
            <div class="chart" id="graphone">
                <script>
                    var graphs = {{plot1 | safe}};
                    Plotly.plot('graphone',graphs,{});
                </script>
            </div>
        {% endif %}
        {% if plot2 %}
            <div class="chart" id="graphtwo">
                <script>
                    var graphs = {{plot2 | safe}};
                    Plotly.plot('graphtwo',graphs,{});
                </script>
            </div>
        {% endif %}
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    </body>
</html>